<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
  #img-container {
    text-align: center;
  }
</style>

<div>
  <a href="/" class="btn btn-dark">Back</a>

  <div id="sort">
    <div id="img-container">
      <img style="align: center;" id="spinner" src="../static/chart_loader.gif"/>
    </div>
  </div>

  <div id="last">
    <div id="img-container">
      <img style="align: center;" id="spinner" src="../static/chart_loader.gif"/>
    </div>
  </div>

  <div id="reverse">
    <div id="img-container">
      <img style="align: center;" id="spinner" src="../static/chart_loader.gif"/>
    </div>
  </div>

  <div id="shuffle">
    <div id="img-container">
      <img style="align: center;" id="spinner" src="../static/chart_loader.gif"/>
    </div>
  </div>
</div>

<script>
  $(document).ajaxStart ->
  $("#spinner").show()

  $(document).ajaxComplete ->
  $("#spinner").hide()
</script>

<script>
  $(function () {
               var processed_json = new Array();
               $.getJSON('http://localhost:5000/sort', function(data) {
                   processed_json = data;
                   // draw chart
                   $('#sort').highcharts({
                   chart: {
                       type: "line"
                   },
                   title: {
                       text: "Time to Run Sort Algorithm"
                   },
                   xAxis: {
                       type: 'category',
                       allowDecimals: false,
                       title: {
                           text: ""
                       }
                   },
                   yAxis: {
                       title: {
                           text: "Time (seconds)"
                       }
                   },
                   series: [{
                     name: 'Sort',
                       data: processed_json
                   }]
               });
           });
       });
</script>


<script>
  $(function () {
               var processed_json = new Array();
               $.getJSON('http://localhost:5000/last', function(data) {
                   processed_json = data;
                   // draw chart
                   $('#last').highcharts({
                   chart: {
                       type: "line"
                   },
                   title: {
                       text: "Time to Run Last Algorithm"
                   },
                   xAxis: {
                       type: 'category',
                       allowDecimals: false,
                       title: {
                           text: ""
                       }
                   },
                   yAxis: {
                       title: {
                           text: "Time (seconds)"
                       }
                   },
                   colors: ["orange"],
                   series: [{
                     name: 'Last',
                       data: processed_json
                   }]
               });
           });
       });
</script>


<script>
  $(function () {
               var processed_json = new Array();
               $.getJSON('http://localhost:5000/reverse', function(data) {
                   processed_json = data;
                   // draw chart
                   $('#reverse').highcharts({
                   chart: {
                       type: "line"
                   },
                   title: {
                       text: "Time to Run Reverse Algorithm"
                   },
                   xAxis: {
                       type: 'category',
                       allowDecimals: false,
                       title: {
                           text: ""
                       }
                   },
                   yAxis: {
                       title: {
                           text: "Time (seconds)"
                       }
                   },
                   colors: ["green"],
                   series: [{
                     name: 'Reverse',
                       data: processed_json
                   }]
               });
           });
       });
</script>


<script>
  $(function () {
               var processed_json = new Array();
               $.getJSON('http://localhost:5000/shuffle', function(data) {
                   processed_json = data;
                   // draw chart
                   $('#shuffle').highcharts({
                   chart: {
                       type: "line"
                   },
                   title: {
                       text: "Time to Run Shuffle Algorithm"
                   },
                   xAxis: {
                       type: 'category',
                       allowDecimals: false,
                       title: {
                           text: ""
                       }
                   },
                   yAxis: {
                       title: {
                           text: "Time (seconds)"
                       }
                   },
                   colors: ["red"],
                   series: [{
                     name: 'Shuffle',
                       data: processed_json
                   }]
               });
           });
       });
</script>
